@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.footerbody{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.main-section{ 
width: 100%;
text-align: center;
padding: 5rem 0;
}
.footer{ 
    display: flex;
    color: #fffefe; 
    background-color: #000000;
padding: 2rem 0; 
height: auto;
justify-content: space-around; 
flex-wrap:wrap;
}
.footerbox {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 20px;
    }
    
.footer h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom:2px solid rgb(233, 81, 81);

    }
.footerlinks{
    background-color:green;
    width: 100%;
    
}
.footerlinks {
    
    list-style: none; 
    line-height: 30px;
    text-align: center; 
    font-weight: 100;
    
    }
#atag {
    text-decoration: none;
    color:#fff;
    margin:5px;
    } 

#atag:hover{
    border-bottom:2px solid #ff8800;
} 
.footerlinks  a:hover {
        color:#ff8800;
        }
.footerregistration {
    display: flex;
    flex-direction: column;
        
 }
        
.footerregistration input {
        padding: 10px; 
        font-weight: 100;
        border: none;
        outline: none; 
        border-radius: 5px;
        text-align: center;
        width: 300px;
        font-size: 12px; margin: 1rem 0;
}
#footerbutton{
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        width: 150px;
        margin-inline: auto;
        cursor: pointer;
        }
#footerbutton:hover{
           background: rgb(243, 88, 88);
            }
        .footeraddress{
        text-align: center; 
        margin-bottom: 10px;
        }
        .footersocial {
        display: flex;
        list-style: none;
        }

        .footersocial li {
        margin: 0 8px; 
        cursor: pointer; 
        font-size:18px;
        }

#links{
    /* margin-inline:auto; */
    border-bottom:2px solid rgb(233, 81, 81);
}
#copyrights{
    position: relative;
    bottom: -40px;
}