/* .{
    box-sizing: border-box;
} */
  
   .entry-contain {
    height: 100vh;
    width: 206vh;
  }

  
 .body-registerpage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background:  url('./../../assets/images/entry2.jpg');
    background-size: cover;
    overflow-x: hidden;
  } 

  .register_container{
      display: flex;

  }
  .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .log_label {
    margin-bottom: 5px;
    margin-left: 20px;
    display: flex;
  }
  
  .log_input{
    width: 300px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-field {
    position: relative;
  }
  
  .password-field input[type='password'] {
    font-size: 16px;
    /* width: 100%; */
    margin-right: 10px;
    
  }
  
  .password-field.show-pass input[type='password'] {
    font-size: 16px;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  .password-field.show-pass .toggle-password {
    color: #333;
  }
  
  .log_button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    margin:20px;
    margin-left: 120px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-button {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  
  .glass-card {
    display: flex;
    flex: 1;
    position: relative;
  /* Setting the size of the upper layer to 80% of the screen size*/
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 4;

  }
 
  
